.foldes-ferenc {
    margin-top: 10px;
    text-align: center;
}

.foldes-ferenc h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: #333; /* Change this color code to any desired color */
}

.foldes-ferenc-img {
    max-width: 300px;
    margin-top: 20px;
    border-radius: 8px;
}

